:root {
    --header-background: #24292e;
    --header-e: #6991b9;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.bodymain {

    #mobilenav {
        @media only screen and (min-width: 771px) {
            display: none;
        }

        padding: 16px;

        background: var(--header-background);

        #mobilelistdropdown {
            display: none;
        }

        .mainnavheader {
            display: flex;
            justify-content: space-between;

            .iconButton {
                background: transparent;
                border: none;

                .headericon {
                    font-size: 24px;
                    color: white;


                }

                .gitlogo {
                    width: 30px;
                }

                .burg {
                    width: 30px;
                }

                .notific {
                    width: 24px;
                }

            }

            .iconButton:focus {
                outline: none;
            }

            .noti {
                background-color: #006eed;
                height: 11px;
                margin: 0px;
                border-radius: 100%;
                width: 11px;
                position: relative;
                top: -28px;
                left: 11px;
            }
        }

        .headerinput {
            margin: 10px 0px;
            width: 95%;
            padding:2px 2% 5px 2%;
            border: 1px solid #444d56;
            border-radius: 5px;
            display: flex;
            align-items: center;

            input {
                min-height: 24px;

                background: transparent;

                border: none;
                width: 100%;
                color: white;

            }

            ::placeholder {
                color: #fff;
                opacity: 0.8;

            }

            :-ms-input-placeholder {
                color: #fff;
                opacity: 0.8;
            }

            ::-ms-input-placeholder {
                color: #fff;
                opacity: 0.8;
            }

            input:focus {
                outline: none;
            }
        }

        .droplist {

            .listitem {
                border-top: 1px solid #ffffff26;
                padding: 8px 0px;
                font-weight: 600;

                a {
                    margin: 0px;
                    color: #fff;

                    text-decoration: none;

                }

                .avatar {
                    display: flex;
                    align-items: center;

                    img {
                        border-radius: 100%
                    }

                    span {
                        margin-left: 5px;
                    }
                }

                .signout {}
            }

        }

    }

    #mainnav {
        padding: 16px;

        background: var(--header-background);

        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 771px) {
            display: none;
        }

        .header-left {
            display: flex;
            align-items: center;

            .gitlogo {
                width: 35px;
            }

            .searchfield {
                display: flex;
                border: 1px solid #444d56;
                padding: 1px 1% 1px 1%;
                margin-left: 15px;
                border-radius: 5px;

                width: 282px;

                @media only screen and (max-width: 950px) {
                    width: 220px;
                }

                .search {
                    min-height: 24px;
                    width: 100%;

                    background: transparent;

                    border: none;
                    color: white;




                }

                ::placeholder {
                    color: #fff;
                    opacity: 0.8;

                }

                :-ms-input-placeholder {
                    color: #fff;
                    opacity: 0.8;
                }

                ::-ms-input-placeholder {
                    color: #fff;
                    opacity: 0.8;
                }

                .search:focus {
                    outline: none;
                }

            }


            .navlink {
                color: white;
                text-decoration: none;
                margin-left: 16px;
                white-space: nowrap;
                font-weight: 600;
            }

            .navlink:hover {
                color: #ffffffb3;
            }
        }

        .header-right {
            display: flex;

            .icondivv {
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .headericon {
                    font-size: 24px;
                    color: white;


                }

                .userimage {
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                }

                .downarrow {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    vertical-align: middle;
                    content: "";
                    border-top-style: solid;
                    border-top-width: 4px;
                    border-right: 4px solid transparent;
                    border-bottom: 0 solid transparent;
                    border-left: 4px solid transparent;
                    margin-left: 3px;
                    color: white;
                }

                .plusarrow {
                    // width: 17px;
                    // height: 17px;
                }

                .gitlogo {
                    width: 30px;
                }

                .burg {
                    width: 30px;
                }

                .notific {
                    // width: 24px;
                }

            }

            .iconButton {
                background: transparent;
                border: none;

                .headericon {
                    font-size: 24px;
                    color: white;

                }

                .userimage {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                }

                .downarrow {
                    width: 15px;
                    height: 15px;
                }

                .plusarrow {
                    width: 25px;
                    height: 25px;
                }

                .gitlogo {
                    width: 30px;
                }

                .burg {
                    width: 30px;
                }

                .notific {
                    width: 24px;
                }

            }

            .iconButton:focus {
                outline: none;
            }

            .noti {
                background-color: #006eed;
                height: 10px;
                margin: 0px;
                border-radius: 100%;
                width: 10px;
                position: relative;
                top: -8px;
                left: -10px;
            }
        }
    }

    .datasect {
        #mobilename {
            @media only screen and (min-width: 771px) {
                display: none;
            }

            padding: 0px 16px;

            margin-bottom: 20px;

            .userdetails {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .userdp {
                    width: 20%;

                    .avatar {
                        width: 100%;
                        border-radius: 100%;
                    }
                }

                .username {
                    margin-left: 5%;
                    width: 75%;
                    overflow: hidden;

                    .name {
                        line-height: 1.25;
                        margin: 0px;
                        color: #24292e;
                    }

                    .usernick {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 24px;
                        color: #586069;
                        margin: 0px;
                        // margin-top: 5px;
                        margin-left: 3px;
                    }
                }
            }

            .status {
                color: #24292e;

            }
        }

        .tabsdiv {
            margin-top: 24px;

            border-bottom: 2px solid #eaecef;
            box-sizing: border-box;
            z-index: 3;
            position: -webkit-sticky;
            position: sticky;
            top: 0;

            background: white;

            .firstinner {
                margin-left: auto;
                margin-right: auto;
                max-width: 1280px;
                display: flex;
            }

            .fillup {
                width: 25%;
                margin-right: 3%;

                @media only screen and (max-width: 771px) {
                    display: none;
                }

                padding: 8px 16px;
                align-items: center;
                display: flex;

                .shortenimg {
                    display: flex;

                    .avatar {
                        display: flex;
                        align-items: center;

                        img {
                            width: 34px;
                            height: 34px;
                            border-radius: 100%;
                        }
                    }

                    .name {
                        display: flex;
                        align-items: center;
                        margin-left: 7px;

                        p {
                            margin: 0px;
                        }
                    }

                }
            }

            .tabsicon {
                display: flex;
                cursor: pointer;
                width: 72%;

                @media only screen and (max-width: 771px) {
                    width: 100%;
                    overflow: scroll
                }

                .selected {
                    font-weight: 600;

                    border-bottom: 2px solid #f9826c !important;
                    outline: 1px dotted transparent;

                    .tabtitle {

                        white-space: nowrap;

                        margin: 0px;
                        font-size: 16px;
                        line-height: 30px;
                        margin-left: 7px;
                        color: #24292e;
                        opacity: unset !important;

                        span {
                            margin-left: 4px;
                            color: #24292e;
                            background-color: rgba(209, 213, 218, 0.5);
                            min-width: 20px;
                            padding: 4px 11px;
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 18px;
                            border-radius: 2em;
                        }
                    }
                }

                .tab {
                    display: flex;
                    padding: 8px 16px;
                    align-items: center;

                    .tabicon {}


                    .tabtitle {

                        white-space: nowrap;

                        margin: 0px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-left: 7px;
                        color: #24292e;
                        line-height: 30px;

                        transition: border-bottom-color .36s ease-in;
                    }

                }

                .tab:hover {
                    border-bottom: 2px solid #d1d5da;

                    transition-timing-function: ease-out;
                    transition-duration: .12s;
                }
            }
        }

        .reposect {
            display: flex;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 1280px;
            margin-bottom: 60px;
            .profiledata {
                @media only screen and (max-width: 771px) {
                    display: none;
                }

                padding: 0px 32px;
                width: 25%;
                margin-top: -32px;
                // margin-right: 3%;


                .imgloader{
                    z-index: 7;
                    /* width: 300px; */
                    height: 300px;
                    width: 100%;
                    border-radius: 100%;
                }
                .userdetails {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    flex-direction: column;

                    .userdp {
                        width: 100%;
                        margin-bottom: 20px;
                        z-index: 7;

                        .avatar {
                            width: 100%;
                            border-radius: 100%;
                        }
                    }

                    .username {
                        width: 100%;
                        overflow: hidden;

                        .name {
                            line-height: 1.25;
                            margin: 0px;
                            color: #24292e;
                        }

                        .usernick {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 24px;
                            color: #586069;
                            margin: 0px;
                            // margin-top: 5px;
                        }
                    }
                }

                .status {
                    color: #24292e;

                }
            }

            .repositry {
                width: 72%;

                @media only screen and (max-width: 771px) {
                    width: 100%;
                    padding: 0px 16px;
                }

                .inputdiv {
                    margin-top: 16px;
                    margin-bottom: 16px;
                   
                    .findrepo {
                        width: 100%;
                        // border-bottom: 1px solid #e1e4e8;
                        padding-bottom: 10px;


                        .search {
                            display: none;
                            min-height: 24px;
                            width: 97%;
                            border: 1px solid #e1e4e8;
                            background: transparent;
                            padding: 5px 0px 5px 1.5%;
                            color: #24292e;
                            border-radius: 6px;
                            font-weight: 500;
                            font-size: 15px;
                        
                        }

                        ::placeholder {
                            color: #6a737d;
                            opacity: 0.9;

                        }

                        :-ms-input-placeholder {
                            color: #fff;
                            opacity: 0.8;
                        }

                        ::-ms-input-placeholder {
                            color: #fff;
                            opacity: 0.8;
                        }

                        .search:focus {
                            outline: none;
                        }

                    }

                    .resultsnumber {

                        p {
                            margin: 0px;
                            margin-top: 16px;
                            color: #24292e;
                            width: fit-content;
                            border-bottom: 1px solid #e1e4e8;
                            padding-bottom: 16px;

                            strong {
                                opacity: 0.9;
                            }
                        }
                    }
                }

                .repolist {
                    .repoloader{
                        width: 100%;
                        height: 200px;
                        border-radius: 10px;
                    }
                    .mt{
                        margin-top: 20px;
                    }
                    .repo {

                        // border-top: 1px solid #e1e4e8;
                        border-top: 1px solid #e1e4e8;
                        padding-bottom: 12px;
                        display: flex;
                        padding-top: 28px;
                        padding-bottom: 28px;

                        .details {
                            width: 72%;

                            .name {
                                h3 {
                                    margin: 0px;
                                    margin-bottom: 10px;

                                    a {
                                        color: #0366d6;
                                        text-decoration: none;
                                    }

                                    a:hover {

                                        text-decoration: underline;
                                    }
                                }
                            }

                            .description {
                                padding-right: 24px;
                                margin-bottom: 16px;

                                p {
                                    width: 80%;
                                    color: #586069;
                                    font-size: 14px;
                                    margin: 0px;

                                    @media only screen and (max-width: 771px) {
                                        width: 100%;
                                        font-size: 13px;
                                    }
                                }


                            }

                            .repodatas {
                                font-size: 14px;
                                display: flex;
                                flex-wrap: wrap;

                                .reponame {
                                    margin-right: 8px;
                                    color: #586069;
                                    margin-top: 8px;

                                    .colorss {
                                        position: relative;
                                        top: 1px;
                                        display: inline-block;
                                        width: 12px;
                                        height: 12px;
                                        border-radius: 50%;
                                    }

                                    .repo-color {


                                        &--php {

                                            background-color: #4F5D95;
                                        }
                                    }
                                }

                                .detss {
                                    margin-top: 8px;
                                    margin-right: 8px;
                                    color: #586069;
                                    display: flex;
                                    align-items: center;

                                    img {
                                        width: 12px;
                                        height: 12px;

                                    }

                                    span {
                                        margin-left: 5px;
                                        font-size: 14px;
                                    }
                                }

                                .lastupdate {}
                            }
                        }

                        .buttons {
                            width: 25%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            .starbutton {
                                color: #24292e;
                                background-color: #fafbfc;
                                border: 1px solid rgb(27 31 35 / 15%);
                                padding: 3px 12px;
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 500px;
                                white-space: nowrap;
                                cursor: pointer;
                                display: flex;
                                border-radius: 6px;
                                align-items: center;


                                span {
                                    font-weight: 500;
                                    margin-left: 5px;
                                }

                            }
                        }
                    }
                }

            }
        }



    }

}


.loading { 
    position: relative; 
    background-color: #e2e2e2; 
} 

/* The moving element */
.loading::after { 
    display: block; 
    content: ""; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    transform: translateX(-100%); 
    background: -webkit-gradient(linear, left top, 
                right top, from(transparent),  
                color-stop(rgba(255, 255, 255, 0.2)), 
                to(transparent)); 
                  
    background: linear-gradient(90deg, transparent, 
            rgba(255, 255, 255, 0.2), transparent); 

    /* Adding animation */
    animation: loading 0.8s infinite; 
} 

/* Loading Animation */
@keyframes loading { 
    100% { 
        transform: translateX(100%); 
    } 
} 