:root {
  --header-background: #24292e;
  --header-e: #6991b9;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.bodymain #mobilenav {
  padding: 16px;
  background: var(--header-background);
}
@media only screen and (min-width: 771px) {
  .bodymain #mobilenav {
    display: none;
  }
}
.bodymain #mobilenav #mobilelistdropdown {
  display: none;
}
.bodymain #mobilenav .mainnavheader {
  display: flex;
  justify-content: space-between;
}
.bodymain #mobilenav .mainnavheader .iconButton {
  background: transparent;
  border: none;
}
.bodymain #mobilenav .mainnavheader .iconButton .headericon {
  font-size: 24px;
  color: white;
}
.bodymain #mobilenav .mainnavheader .iconButton .gitlogo {
  width: 30px;
}
.bodymain #mobilenav .mainnavheader .iconButton .burg {
  width: 30px;
}
.bodymain #mobilenav .mainnavheader .iconButton .notific {
  width: 24px;
}
.bodymain #mobilenav .mainnavheader .iconButton:focus {
  outline: none;
}
.bodymain #mobilenav .mainnavheader .noti {
  background-color: #006eed;
  height: 9px;
  margin: 0px;
  border-radius: 100%;
  width: 9px;
  position: relative;
  top: -30px;
  left: 12px;
}
.bodymain #mobilenav .headerinput {
  margin: 10px 0px;
}
.bodymain #mobilenav .headerinput input {
  min-height: 24px;
  width: 95%;
  border: 1px solid #444d56;
  background: transparent;
  border-radius: 5px;
  padding: 5px 0px 5px 5%;
  color: white;
}
.bodymain #mobilenav .headerinput ::placeholder {
  color: #fff;
  opacity: 0.8;
}
.bodymain #mobilenav .headerinput :-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}
.bodymain #mobilenav .headerinput ::-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}
.bodymain #mobilenav .headerinput input:focus {
  outline: none;
}
.bodymain #mobilenav .droplist .listitem {
  border-top: 1px solid #ffffff26;
  padding: 8px 0px;
  font-weight: 600;
}
.bodymain #mobilenav .droplist .listitem a {
  margin: 0px;
  color: #fff;
  text-decoration: none;
}
.bodymain #mobilenav .droplist .listitem .avatar {
  display: flex;
  align-items: center;
}
.bodymain #mobilenav .droplist .listitem .avatar img {
  border-radius: 100%;
}
.bodymain #mobilenav .droplist .listitem .avatar span {
  margin-left: 5px;
}
.bodymain #mainnav {
  padding: 16px;
  background: var(--header-background);
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 771px) {
  .bodymain #mainnav {
    display: none;
  }
}
.bodymain #mainnav .header-left {
  display: flex;
  align-items: center;
}
.bodymain #mainnav .header-left .gitlogo {
  width: 35px;
}
.bodymain #mainnav .header-left .search {
  margin-left: 15px;
}
.bodymain #mainnav .header-left .search {
  min-height: 24px;
  width: 97%;
  border: 1px solid #444d56;
  background: transparent;
  border-radius: 5px;
  padding: 5px 0px 5px 3%;
  color: white;
  width: 282px;
}
@media only screen and (max-width: 950px) {
  .bodymain #mainnav .header-left .search {
    width: 220px;
  }
}
.bodymain #mainnav .header-left ::placeholder {
  color: #fff;
  opacity: 0.8;
}
.bodymain #mainnav .header-left :-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}
.bodymain #mainnav .header-left ::-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}
.bodymain #mainnav .header-left .search:focus {
  outline: none;
}
.bodymain #mainnav .header-left .navlink {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  white-space: nowrap;
  font-weight: 600;
}
.bodymain #mainnav .header-left .navlink:hover {
  color: #ffffffb3;
}
.bodymain #mainnav .header-right {
  display: flex;
}
.bodymain #mainnav .header-right .icondivv {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodymain #mainnav .header-right .icondivv .headericon {
  font-size: 24px;
  color: white;
}
.bodymain #mainnav .header-right .icondivv .userimage {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.bodymain #mainnav .header-right .icondivv .downarrow {
  width: 11px;
  height: 11px;
  margin-left: 3px;
}
.bodymain #mainnav .header-right .icondivv .plusarrow {
  width: 17px;
  height: 17px;
}
.bodymain #mainnav .header-right .icondivv .gitlogo {
  width: 30px;
}
.bodymain #mainnav .header-right .icondivv .burg {
  width: 30px;
}
.bodymain #mainnav .header-right .icondivv .notific {
  width: 24px;
}
.bodymain #mainnav .header-right .iconButton {
  background: transparent;
  border: none;
}
.bodymain #mainnav .header-right .iconButton .headericon {
  font-size: 24px;
  color: white;
}
.bodymain #mainnav .header-right .iconButton .userimage {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.bodymain #mainnav .header-right .iconButton .downarrow {
  width: 15px;
  height: 15px;
}
.bodymain #mainnav .header-right .iconButton .plusarrow {
  width: 25px;
  height: 25px;
}
.bodymain #mainnav .header-right .iconButton .gitlogo {
  width: 30px;
}
.bodymain #mainnav .header-right .iconButton .burg {
  width: 30px;
}
.bodymain #mainnav .header-right .iconButton .notific {
  width: 24px;
}
.bodymain #mainnav .header-right .iconButton:focus {
  outline: none;
}
.bodymain #mainnav .header-right .noti {
  background-color: #006eed;
  height: 9px;
  margin: 0px;
  border-radius: 100%;
  width: 9px;
  position: relative;
  top: -9px;
  left: -12px;
}
.bodymain .datasect #mobilename {
  padding: 0px 16px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 771px) {
  .bodymain .datasect #mobilename {
    display: none;
  }
}
.bodymain .datasect #mobilename .userdetails {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.bodymain .datasect #mobilename .userdetails .userdp {
  width: 20%;
}
.bodymain .datasect #mobilename .userdetails .userdp .avatar {
  width: 100%;
  border-radius: 100%;
}
.bodymain .datasect #mobilename .userdetails .username {
  margin-left: 5%;
  width: 75%;
  overflow: hidden;
}
.bodymain .datasect #mobilename .userdetails .username .name {
  line-height: 1.25;
  margin: 0px;
  color: #24292e;
}
.bodymain .datasect #mobilename .userdetails .username .usernick {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #586069;
  margin: 0px;
  margin-left: 3px;
}
.bodymain .datasect #mobilename .status {
  color: #24292e;
}
.bodymain .datasect .tabsdiv {
  margin-top: 24px;
  border-bottom: 2px solid #eaecef;
  box-sizing: border-box;
}
.bodymain .datasect .tabsdiv .firstinner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
}
.bodymain .datasect .tabsdiv .fillup {
  width: 25%;
  margin-right: 3%;
}
@media only screen and (max-width: 771px) {
  .bodymain .datasect .tabsdiv .fillup {
    display: none;
  }
}
.bodymain .datasect .tabsdiv .fillup p {
  margin: 0px;
}
.bodymain .datasect .tabsdiv .tabsicon {
  display: flex;
  cursor: pointer;
  width: 72%;
}
@media only screen and (max-width: 771px) {
  .bodymain .datasect .tabsdiv .tabsicon {
    width: 100%;
    overflow: scroll;
  }
}
.bodymain .datasect .tabsdiv .tabsicon .selected {
  font-weight: 600;
  color: #24292e;
  border-bottom: 4px solid #f9826c;
  outline: 1px dotted transparent;
}
.bodymain .datasect .tabsdiv .tabsicon .tab {
  display: flex;
  padding: 8px 16px;
  align-items: center;
}
.bodymain .datasect .tabsdiv .tabsicon .tab .tabicon {
  width: 19px;
}
.bodymain .datasect .tabsdiv .tabsicon .tab .tabtitle {
  white-space: nowrap;
  margin: 0px;
  font-size: 16px;
  line-height: 30px;
  margin-left: 7px;
  color: #24292e;
}
.bodymain .datasect .tabsdiv .tabsicon .tab .tabtitle span {
  margin-left: 4px;
  color: #24292e;
  background-color: rgba(209, 213, 218, 0.5);
  min-width: 20px;
  padding: 4px 11px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 2em;
}
.bodymain .datasect .reposect {
  display: flex;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.bodymain .datasect .reposect .profiledata {
  padding: 0px 32px;
  width: 25%;
  margin-top: -32px;
}
@media only screen and (max-width: 771px) {
  .bodymain .datasect .reposect .profiledata {
    display: none;
  }
}
.bodymain .datasect .reposect .profiledata .userdetails {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: column;
}
.bodymain .datasect .reposect .profiledata .userdetails .userdp {
  width: 100%;
  margin-bottom: 20px;
}
.bodymain .datasect .reposect .profiledata .userdetails .userdp .avatar {
  width: 100%;
  border-radius: 100%;
}
.bodymain .datasect .reposect .profiledata .userdetails .username {
  width: 100%;
  overflow: hidden;
}
.bodymain .datasect .reposect .profiledata .userdetails .username .name {
  line-height: 1.25;
  margin: 0px;
  color: #24292e;
}
.bodymain .datasect .reposect .profiledata .userdetails .username .usernick {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #586069;
  margin: 0px;
}
.bodymain .datasect .reposect .profiledata .status {
  color: #24292e;
}
.bodymain .datasect .reposect .repositry {
  width: 72%;
}
@media only screen and (max-width: 771px) {
  .bodymain .datasect .reposect .repositry {
    width: 100%;
    padding: 0px 16px;
  }
}
.bodymain .datasect .reposect .repositry .inputdiv {
  margin-top: 16px;
  margin-bottom: 16px;
}
.bodymain .datasect .reposect .repositry .inputdiv .findrepo {
  width: 100%;
  border-bottom: 1px solid #e1e4e8;
  padding-bottom: 10px;
}
.bodymain .datasect .reposect .repositry .inputdiv .findrepo .search {
  min-height: 24px;
  width: 97%;
  border: 1px solid #e1e4e8;
  background: transparent;
  padding: 5px 0px 5px 1.5%;
  color: #24292e;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
}
.bodymain .datasect .reposect .repositry .inputdiv .findrepo ::placeholder {
  color: #6a737d;
  opacity: 0.9;
}
.bodymain .datasect .reposect .repositry .inputdiv .findrepo :-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}
.bodymain .datasect .reposect .repositry .inputdiv .findrepo ::-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}
.bodymain .datasect .reposect .repositry .inputdiv .findrepo .search:focus {
  outline: none;
}
.bodymain .datasect .reposect .repositry .inputdiv .resultsnumber p {
  margin: 0px;
  margin-top: 16px;
  color: #24292e;
  width: fit-content;
  border-bottom: 1px solid #e1e4e8;
  padding-bottom: 16px;
}
.bodymain .datasect .reposect .repositry .inputdiv .resultsnumber p strong {
  opacity: 0.9;
}
.bodymain .datasect .reposect .repositry .repolist .repo {
  border-bottom: 1px solid #e1e4e8;
  padding-bottom: 12px;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details {
  width: 72%;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .name h3 {
  margin: 0px;
  margin-bottom: 10px;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .name h3 a {
  color: #0366d6;
  text-decoration: none;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .name h3 a:hover {
  text-decoration: underline;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .description {
  padding-right: 24px;
  margin-bottom: 16px;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .description p {
  width: 80%;
  color: #586069;
  font-size: 14px;
  margin: 0px;
}
@media only screen and (max-width: 771px) {
  .bodymain .datasect .reposect .repositry .repolist .repo .details .description p {
    width: 100%;
    font-size: 13px;
  }
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .repodatas {
  font-size: 14px;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .repodatas .reponame {
  margin-right: 8px;
  color: #586069;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .repodatas .reponame .colorss {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .repodatas .reponame .repo-color--php {
  background-color: #4F5D95;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .repodatas .detss {
  margin-right: 8px;
  color: #586069;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .repodatas .detss img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.bodymain .datasect .reposect .repositry .repolist .repo .details .repodatas .detss span {
  font-size: 14px;
}
.bodymain .datasect .reposect .repositry .repolist .repo .buttons {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bodymain .datasect .reposect .repositry .repolist .repo .buttons .starbutton {
  color: #24292e;
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  border-radius: 6px;
}
.bodymain .datasect .reposect .repositry .repolist .repo .buttons .starbutton img {
  width: 15px;
  margin-right: 5px;
}
.bodymain .datasect .reposect .repositry .repolist .repo .buttons .starbutton span {
  font-weight: 500;
}