:root {
    --header-background: #24292e;
    --header-e: #6991b9;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.bodymain {

    #mobilenav {
        @media only screen and (min-width: 771px) {
            display: none;
        }

        padding: 16px;

        background: var(--header-background);

        #mobilelistdropdown {
            display: none;
        }

        .mainnavheader {
            display: flex;
            justify-content: space-between;

            .iconButton {
                background: transparent;
                border: none;

                .headericon {
                    font-size: 24px;
                    color: white;


                }

                .gitlogo {
                    width: 30px;
                }

                .burg {
                    width: 30px;
                }

                .notific {
                    width: 24px;
                }

            }

            .iconButton:focus {
                outline: none;
            }

            .noti {
                background-color: #006eed;
                height: 9px;
                margin: 0px;
                border-radius: 100%;
                width: 9px;
                position: relative;
                top: -30px;
                left: 12px;
            }
        }

        .headerinput {
            margin: 10px 0px;

            input {
                min-height: 24px;
                width: 95%;
                border: 1px solid #444d56;
                background: transparent;
                border-radius: 5px;
                padding: 5px 0px 5px 5%;
                color: white;

            }

            ::placeholder {
                color: #fff;
                opacity: 0.8;

            }

            :-ms-input-placeholder {
                color: #fff;
                opacity: 0.8;
            }

            ::-ms-input-placeholder {
                color: #fff;
                opacity: 0.8;
            }

            input:focus {
                outline: none;
            }
        }

        .droplist {

            .listitem {
                border-top: 1px solid #ffffff26;
                padding: 8px 0px;
                font-weight: 600;

                a {
                    margin: 0px;
                    color: #fff;

                    text-decoration: none;

                }

                .avatar {
                    display: flex;
                    align-items: center;

                    img {
                        border-radius: 100%
                    }

                    span {
                        margin-left: 5px;
                    }
                }

                .signout {}
            }

        }

    }

    #mainnav {
        padding: 16px;

        background: var(--header-background);

        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 771px) {
            display: none;
        }

        .header-left {
            display: flex;
            align-items: center;

            .gitlogo {
                width: 35px;
            }

            .search {
                margin-left: 15px;
            }

            .search {
                min-height: 24px;
                width: 97%;
                border: 1px solid #444d56;
                background: transparent;
                border-radius: 5px;
                padding: 5px 0px 5px 3%;
                color: white;
                width: 282px;

                @media only screen and (max-width: 950px) {
                    width: 220px;
                }

            }

            ::placeholder {
                color: #fff;
                opacity: 0.8;

            }

            :-ms-input-placeholder {
                color: #fff;
                opacity: 0.8;
            }

            ::-ms-input-placeholder {
                color: #fff;
                opacity: 0.8;
            }

            .search:focus {
                outline: none;
            }

            .navlink {
                color: white;
                text-decoration: none;
                margin-left: 10px;
                white-space: nowrap;
                font-weight: 600;
            }

            .navlink:hover {
                color: #ffffffb3;
            }
        }

        .header-right {
            display: flex;

            .icondivv {
                margin-left: 15px;
                display: flex;
                justify-content: center;
                align-items: center;


                .headericon {
                    font-size: 24px;
                    color: white;


                }

                .userimage {
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                }

                .downarrow {
                    width: 11px;
                    height: 11px;
                    margin-left: 3px;
                }

                .plusarrow {
                    width: 17px;
                    height: 17px;
                }

                .gitlogo {
                    width: 30px;
                }

                .burg {
                    width: 30px;
                }

                .notific {
                    width: 24px;
                }

            }

            .iconButton {
                background: transparent;
                border: none;

                .headericon {
                    font-size: 24px;
                    color: white;

                }

                .userimage {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                }

                .downarrow {
                    width: 15px;
                    height: 15px;
                }

                .plusarrow {
                    width: 25px;
                    height: 25px;
                }

                .gitlogo {
                    width: 30px;
                }

                .burg {
                    width: 30px;
                }

                .notific {
                    width: 24px;
                }

            }

            .iconButton:focus {
                outline: none;
            }

            .noti {
                background-color: #006eed;
                height: 9px;
                margin: 0px;
                border-radius: 100%;
                width: 9px;
                position: relative;
                top: -9px;
                left: -12px;
            }
        }
    }

    .datasect {
        #mobilename {
            @media only screen and (min-width: 771px) {
                display: none;
            }

            padding: 0px 16px;

            margin-bottom: 20px;

            .userdetails {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .userdp {
                    width: 20%;

                    .avatar {
                        width: 100%;
                        border-radius: 100%;
                    }
                }

                .username {
                    margin-left: 5%;
                    width: 75%;
                    overflow: hidden;

                    .name {
                        line-height: 1.25;
                        margin: 0px;
                        color: #24292e;
                    }

                    .usernick {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 24px;
                        color: #586069;
                        margin: 0px;
                        // margin-top: 5px;
                    }
                }
            }

            .status {
                color: #24292e;

            }
        }

        .tabsdiv {
            margin-top: 24px;
            display: flex;
            border-bottom: 2px solid #eaecef;
            box-sizing: border-box;

            .fillup {
                width: 25%;
                margin-right: 3%;

                @media only screen and (max-width: 771px) {
                    display: none;
                }

                p {
                    margin: 0px;
                }
            }

            .tabsicon {
                display: flex;
                cursor: pointer;
                width: 75%;

                @media only screen and (max-width: 771px) {
                    width: 100%;
                    overflow: scroll
                }

                .selected {
                    font-weight: 600;
                    color: #24292e;
                    border-bottom: 4px solid #f9826c;
                    outline: 1px dotted transparent;
                }

                .tab {
                    display: flex;
                    padding: 8px 16px;
                    align-items: center;

                    .tabicon {
                        width: 19px;
                    }

                    .tabtitle {

                        white-space: nowrap;

                        margin: 0px;
                        font-size: 16px;
                        line-height: 30px;
                        margin-left: 7px;
                        color: #24292e;

                        span {
                            margin-left: 4px;
                            color: #24292e;
                            background-color: rgba(209, 213, 218, 0.5);
                            min-width: 20px;
                            padding: 4px 11px;
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 18px;
                            border-radius: 2em;
                        }
                    }
                }
            }
        }

        .reposect {
            display: flex;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 1280px;

            .profiledata {
                @media only screen and (max-width: 771px) {
                    display: none;
                }

                padding: 0px 32px;
                width: 25%;
                margin-top: -32px;
                margin-right: 3%;

                .userdetails {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    flex-direction: column;

                    .userdp {
                        width: 100%;
                        margin-bottom: 20px;

                        .avatar {
                            width: 100%;
                            border-radius: 100%;
                        }
                    }

                    .username {
                        width: 100%;
                        overflow: hidden;

                        .name {
                            line-height: 1.25;
                            margin: 0px;
                            color: #24292e;
                        }

                        .usernick {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 24px;
                            color: #586069;
                            margin: 0px;
                            // margin-top: 5px;
                        }
                    }
                }

                .status {
                    color: #24292e;

                }
            }

            .repositry {
                width: 72%;

            }
        }



    }

}